.ml{
    margin-left:70px;
    margin-bottom: 30px;
}

.bf{
    font-size: 16px;
}

.bof{
    font-weight: bold;
}
.nf{
    font-size: 13px;
}
.sf{
    font-size: 10px;
}
.tc{
    text-align: center;
}
.imgg{
    width: 200px;
    height: 70px;
}